set_io LED 95 # centre green
set_io clk 21

#  44   - -  45
#  62  |   | 47
#  119  - -  118
#  61  |   | 48
#  60   - -  56
#      
        
set_io segs[9] 44
set_io segs[8] 45
set_io segs[7] 47
set_io segs[6] 48
set_io segs[5] 56
set_io segs[4] 60
set_io segs[3] 61
set_io segs[2] 62
set_io segs[1] 119
set_io segs[0] 118

set_io sync 112
